<!doctype html>
<html>
<head>
	<title>고정 수의 데이터를 출력하는 그래프</title>
	<meta charset="utf-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" type="text/javascript"></script>
	<script src="./static/myChart.js" type="text/javascript"></script>
</head>
<body>
	<canvas id="canvas" width="600" height="400"></canvas>
	<br>
	<button id="addData" onclick="addChartData(Math.floor(Math.random()*40))">Add Data</button>
	<!-- addChartData() 함수는 myChart.js에 있음. 차트에 데이터 추가 -->
	<button id="hideshow" onclick="hideshow()">Hide/Show Chart</button>	
</body>
</html>

